---
import PageSection from '~/components/PageSection.astro';
import SocialMediaLink from '~/components/SocialMediaLink.astro';
import Icon from '~/components/Icon.astro';

interface Props extends astroHTML.JSX.HTMLAttributes {
	center?: boolean;
}

const { center } = Astro.props;
---

<PageSection class={Astro.props.class}>
	<h3 class:list={['mb-16 text-lg font-bold', center && 'text-center']}>
		Let's connect
	</h3>
	<div
		class:list={[
			'flex flex-col flex-wrap gap-16 sm:flex-row sm:text-sm',
			center && 'justify-center',
		]}
	>
		<SocialMediaLink href="https://x.com/rayrw_dev" title="X">
			<span slot="icon" class="h-24 w-24 sm:h-16 sm:w-16">
				<Icon name="x" />
			</span>

			@rayrw_dev
		</SocialMediaLink>

		<SocialMediaLink href="https://bsky.app/profile/rayrw.dev" title="Bluesky">
			<span slot="icon" class="h-24 w-24 sm:h-16 sm:w-16">
				<Icon name="bluesky" />
			</span>

			@rayrw.dev
		</SocialMediaLink>

		<SocialMediaLink href="https://github.com/rayrw" title="GitHub">
			<span slot="icon" class="h-24 w-24 sm:h-16 sm:w-16">
				<Icon name="github" />
			</span>

			@rayrw
		</SocialMediaLink>
	</div>
</PageSection>
