---
import PageSection from './PageSection.astro';
import Icon from './Icon.astro';
---

<PageSection>
	<div class="flex items-center justify-between">
		<div class="text-2xl font-bold">
			<a href="/">Ray Wong</a>
		</div>
		<div class="flex items-center">
			<!-- Desktop Navigation -->
			<nav>
				<ul class="flex flex-row gap-12 uppercase">
					<li><a href="/posts" class="uppercase">Blog</a></li>
				</ul>
			</nav>
			<!-- Desktop Theme Switcher -->
			<div class="ml-12 flex flex-col justify-center">
				<input
					type="checkbox"
					id="light-switch-desktop"
					class="light-switch sr-only"
				/>
				<label
					class="tada relative cursor-pointer p-8"
					for="light-switch-desktop"
				>
					<span class="h-16 w-16 dark:hidden">
						<Icon name="light-mode" />
					</span>
					<span class="hidden h-16 w-16 dark:block">
						<Icon name="dark-mode" />
					</span>
					<span class="sr-only">Switch to light / dark version</span>
				</label>
			</div>
		</div>
	</div>
</PageSection>

<script>
	// Theme switching functionality
	const lightSwitches = document.querySelectorAll('.light-switch');

	function applyTheme(isDark: boolean) {
		if (isDark) {
			document.documentElement.setAttribute('data-theme', 'dark');
			document
				.querySelector('meta[name="theme-color"]')
				?.setAttribute('content', '#1c1917');
			localStorage.setItem('theme', 'dark');
		} else {
			document.documentElement.setAttribute('data-theme', 'light');
			document
				.querySelector('meta[name="theme-color"]')
				?.setAttribute('content', '#f5f5f4');
			localStorage.setItem('theme', 'light');
		}
	}

	if (lightSwitches.length > 0) {
		// Initialize theme based on localStorage
		const isDarkTheme = localStorage.getItem('theme') === 'dark';
		applyTheme(isDarkTheme);

		// Set initial state of switches
		lightSwitches.forEach((lightSwitch) => {
			(lightSwitch as HTMLInputElement).checked = isDarkTheme;
		});

		// Add click event listeners
		lightSwitches.forEach((lightSwitch) => {
			(lightSwitch as HTMLInputElement).addEventListener('click', () => {
				const isChecked = (lightSwitch as HTMLInputElement).checked;
				// Apply theme
				applyTheme(isChecked);
			});
		});
	}
</script>
